# ダミー変数の作り方

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"血液型":["A","B","A","O"], "趣味":["サッカー","釣り","釣り","野球"], "Tシャツのサイズ":["S","L","M","S"]}, index=[1,2,3,4])
df

  血液型    趣味 Tシャツのサイズ
1   A  サッカー        S
2   B    釣り        L
3   A    釣り        M
4   O    野球        S

## ダミー変数化

In [3]:
pd.get_dummies(df)

,血液型_A,血液型_B,血液型_O,趣味_サッカー,趣味_野球,趣味_釣り,Tシャツのサイズ_L,Tシャツのサイズ_M,Tシャツのサイズ_S
1,1,0,0,1,0,0,0,0,1
2,0,1,0,0,0,1,1,0,0
3,1,0,0,0,0,1,0,1,0
4,0,0,1,0,1,0,0,0,1